body{
    font-family: arial;
}
.container {
    margin-top: 150px;
    width: 650px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 1.7px solid rgb(218, 216, 216);
    border-bottom: 5px solid rgb(74, 107, 253);
}
.atas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
}
.tekan{
    color: rgb(6, 190, 129);
    border: 1px solid rgb(54, 194, 147);
    border-radius: 8px;
    padding: 3px 3px;
    font-size: 13px;
    background-color: rgb(234, 250, 244);
}
.hgi-more-vertical{
    font-size: 22px;
    color: rgb(109, 108, 108);
    font-weight: bold;
}
.logo-twitch {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80px;
    height: 76px;
}
.tengah{
    text-align: center;
    margin-top: 35px;
}
.logo {
    margin-bottom: 10px;
}
.judul{
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
}
.sub-judul{
    font-size: 15px;
    color: #333;
}
.bawah {
    display: flex;
    justify-content: center;
    gap: 22px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.kotakbawah{
    padding-top: 8px;
    border: 1px dashed #ccc;
    border-radius: 8px;
    width: 80px;
}
.angka {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 630;
}
.tulisan {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    font-size: 13px;
    margin-bottom: 8px;
    color: #333;
}